.bg-silver {
    background: #e8e8e8;
}


.main-header.header-style-three {
    background-color: white;
}


.separador {
    padding: 0;
    margin: 0;

    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}


h4.contactus-1-info-title,
h2.sec-title,
.news-block-two h3,
h2.page-title,
.services-single .inner-box h2,
.banner-section .content-box h1,
h2.services-1-title,
.cta-1-title /* titulo da barra vermelha */ {
    font-weight: normal;
}


/* HOME /////  */
h2.services-1-title {
    min-height: 60px;
}


/* barra vermelha */
.redbar-container {
    padding-top: 90px;
    background-color: #e8e8e8;
}

.redbar {
    background-color: var(--theme-color);
}

.redbar-container .auto-container {
    padding-top: 40px;
    padding-bottom: 30px;
    align-items: center;
}

.redbar-container .image {
    min-width: 340px;
}
.redbar-container .image img {
    scale: 1;
    margin: -130px 0 0 0;
}

.redbar-container .col.row {
    align-items: center;
}

.redbar-container .btn-1.s-two {
    font-size: 26px;
    color: var(--theme-color);
}
.redbar-container .btn-1.s-two:hover {
    background-color: #000;
}

@media only screen and (max-width: 991px) {
    .redbar-container .image,
    .redbar-container .col.row {
        text-align: center;
    }
}



/* CONTATO ////// */
.contact-form input,
.contact-form textarea {
    border-color: silver;
}