.bg-silver,
.sidebar-page-container {
    background: #e8e8e8;
}


section.contactus-1-section,
section.testimonial-2-section,
.sidebar-page-container {
    padding: 80px 0 80px;
}


.main-header.header-style-three {
    background-color: white;
}


.separador {
    padding: 0;
    margin: 0;

    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}


h4.contactus-1-info-title,
h2.sec-title,
.news-block-two h3,
h2.page-title,
.services-single .inner-box h2,
.banner-section .content-box h1,
h2.services-1-title,
.widget-title,
.cta-1-title /* titulo da barra vermelha */ {
    font-weight: normal;
}


a.btn-1.s-two,
.blog-1-link-btn2 a,
.testimonial-2-designation {
    color: var(--theme-color);
}




/* HOME /////  */
h2.services-1-title {
    min-height: 60px;
}

section.servicos-section.s-two {
    padding: 80px 0 90px;
    background-image: none;
    position: relative;
}

section.blog-car-section {
    position: relative;
    padding: 80px 0 0;
    background: none;
}

.btn-1 {
    background-image: linear-gradient(90deg, #ce3a35 0%, #be322d 100%);
}


.cta-1-section .auto-container {
    padding-top: 30px;
    padding-bottom: 40px;
}


/* barra preta */
.blackbar {
    text-align: center;
    background-color: #181919;
    padding-top: 40px;
    padding-bottom: 40px;
}

.blackbar .cta-1-title {
    padding-bottom: 40px;
}

.car-logo-list .col-lg {
    opacity: .4;
    transition: opacity .5s;
}
.car-logo-list .col-lg:hover {
    opacity: 1;
}

.car-logo-list img {
    max-width: 50px;
}

@media only screen and (max-width: 991px) {
    .row.car-logo-list {
        justify-content: center;
    }
    .car-logo-list .col-lg {
        width: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


/* barra vermelha */
.redbar-container {
    padding-top: 90px;
    background-color: #e8e8e8;
}

.redbar {
    background-color: var(--theme-color);
}

.redbar-container .auto-container {
    padding-top: 40px;
    padding-bottom: 30px;
    align-items: center;
}

.redbar-container .image {
    min-width: 340px;
}
.redbar-container .image img {
    scale: 1;
    margin: -130px 0 0 0;
}

.redbar-container .col.row {
    align-items: center;
}

.redbar-container .btn-1.s-two {
    font-size: 26px;
    color: var(--theme-color);
}
.redbar-container .btn-1.s-two:hover {
    background-color: #000;
}

@media only screen and (max-width: 991px) {
    .redbar-container .image,
    .redbar-container .col.row {
        text-align: center;
    }
}



/* BLOG ///// */
.news-block-two .lower-content,
.service-details-1-cat {
    background: #e8e8e8;
}

.service-details-1-cat {
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}

.service-details-1-cat li {
    background: #f0f0f0;
}


/* CONTATO ////// */
.contact-form input,
.contact-form textarea {
    border-color: silver;
}

ul.contactus-1-info-list li {
    padding-left: 40px;
}

div[class^="contactus-"] li a {
    color: #1e1e1e;
}
div[class^="contactus-"] li a:hover {
    color: var(--theme-color);
}

ul.contactus-1-info-list i {
    font-size: 25px;
    font-weight: 500;
    top: 8px;
}



 /* FOOTER ///// */
 .contact-widget-1-label {
    padding-bottom: 5px;
}

.contact-widget-1-label .fal {
    font-size: 20px;
    color: var(--theme-color);
    margin-right: 4px;
}